.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar p {
  color: gray;
  font-size: 14px;
}

.btn-blue {
  background: #2563eb;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}
